 body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 40px;

 }

 .Wrapper {
   display: flex;
   flex-direction: row-reverse;
   background-color: #ffffff;
   width: 1200px;
   margin: 0 auto;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

 }


 /* Main-content*/
 .Main-content {
   padding: 88px;
 

 }

 /*about-me*/
 .my-profession { 
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   margin: 0 0 18px 0;
 }
 .My-name {
   font-style: normal;
   font-weight: 700;
   font-size: 45px;
   line-height: 55px;
   color: #000000;
   margin: 0 0 28px 0;
 }

 .My-descr {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   width: 525px;            /* для обмеження тексту в ширину */
 }
 .about-me-container{
   margin: 0px 0 64px 40px ;

 }

                  /*Project*/

   .Main-content-title  {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;  
      color: #000000;
      margin: 0 0 8px 0 ;

   }           
   .project-item {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #000000;

   }
   .project-list {
      padding: 0;
      margin: 18px;
   }
   .project-container {
    margin: 0px 0 48px 40px ;
      
   }

   .project-item-descr {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
   }

   .project-item-link {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-decoration-line: underline;   /*Підкреслення*/
      color: #005FFF;
   }
                  /*Work Expirienct */
   .work-experience-container {
      margin: 44px;
   }
                      
   .work-experience-position {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 8px;
   }

   .work-experience-place {
      margin-bottom: 12px;
   
   }
   .work-experience-compani{
   color: #6D9BF5;
 }
   .work-periodc{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #A8A8A8;
      margin: 12px 0 8px ;
   }
   .work-duties {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
}

.work-duties-list{
      padding: 16px;
      margin: 0 ;
}
                        /*Education */
 .Education-container {
   margin-top: 44px 0 0 0 ;
   padding:0 0 0 60px ;
 }
 .Education-title {
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   color: #000000;
   margin-bottom: 12px ;
 }

 .Education-point {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #6D9BF5;
   margin-bottom: 10px;
}
.Education-name {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   margin-bottom: 10px;
}
      
   .Education-period  {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   color: #A8A8A8;
   margin: 0;
   }
   .Education-list {
      padding: 0 0 0 0;
   }


                              /* sidebar*/

   .sidebar {
    width: 525px;
   background: #E0EBFE;
   }
   .my-foto {
   margin-top:40px; 

   }

   .contact-container,
   .tech-skill-container {
   margin: 40px 0 0 40px;
   }

   .sidebar-title {
      font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   color: #161D2A;
   margin-bottom: 8px;

   }
/*contact blok*/

   .contacts-type {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #161D2A;
      margin-right: 8px;

   }

   .contacts-iteam {
   margin: 0px;
   }

   .contact-number{
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #161D2A;

   }
   .contacts-email {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #2979FF;
   }

   .skills-list {
   margin: 0px;
   padding: 0 0 0 18px;
   }

   .skills-list-item {
   color:#6D9BF5;
   }

   .skills-list-text{
   color: #161D2A;
   }
      /* Soft skill */

      .soft-skill-container{
         margin: 40px 0 0 40px;
      }

      .soft-skill-list {
      margin: 0px;
      padding: 0 0 0 18px;
      }

      .soft-list-num  {
       color:#6D9BF5;
      }

      .soft-list-text {
      color: #161D2A;
      }

      